@model Finances.Data.Banking.BankAccount

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BankAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountKey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BankAccountType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAccountType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BankID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BranchID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BranchID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
