@model IEnumerable<Finances.Data.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankedBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountID)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.BankedBalance)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.CurrentBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Transactions", "Index", "Transaction", new { AccountID=item.ID, Budget=false }, null)
        </td>
    </tr>
}

    <tr style="font-weight:bold">
        <td></td>
        <td></td>
        <td>@ViewBag.SumBankedBalance.ToString("C")</td>
        <td>@ViewBag.SumCurrentBalance.ToString("C")</td>
        <td></td>
    </tr>

</table>
