@model Finances.Data.Banking.BankReconciliation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BankReconciliation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Transaction.Method)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transaction.Method)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatementLine.TransType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatementLine.TransType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
